*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  background-color: rgb(275,212,223);
  color: black;
}
a{
  text-decoration: none ;
  color:black;
  transition:0.3s; 
}

ul{
  list-style:none;
}
img{
  max-width: 100%;
}
body{
  font-family: Georgia;
  font-size:16px;
  line-height: 1.6em; 
  background-color: rgb(275,212,223);
}
#slash{
  font-size: 30px;
  line-height: 40px;
  font-style: italic;
  font-family:'Brush Script MT';
  margin-bottom: 20px;
  font-weight: 1300;
}
.education #slash, .experience #slash {
  font-size: 60px;
}
.container{
  width: 1170px;
  margin:auto;
}

.header-area{
  padding:20px 0;
  transition: padding .3s;
}

.header-area.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: rgb(275,212,223);
  padding: 5px;
}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
} 
.logo {
  display: flex;
  align-items: center;
  position: relative; 
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
}

.header ul li:first-child {
  margin-right: auto; 
}  

.header ul{
  display: flex;
  align-items: center; 
}
.header ul li{
  margin: 0 15px;
}
.header ul li a{
  display: block;
}
.header ul li a.active{
  color: lightcoral;
} 
.header ul li a:hover{
  color:lightcoral;
}
.header .menu_icon{
  color:black;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.FirstElement{
   display:flex;
   justify-content: space-around;
   align-items: center;
   padding-top: 5rem; 
} 

.FirstElement.adjusted-padding {
  padding-top: 40px; 
}

.FirstElement .profile-photo{
  width: 325px;
  height:  325px;
  border-radius: 50%;
  overflow: hidden;
  border: 15px solid pink;
  box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5)
}
profile-photo .img{
  height: 100%;
  width: 100%;
}

.profile-text{
  max-width: 750px;
  display: flex;
  flex-direction: column;
}

.profile-text h1{
  color: black;
  font-size: 3rem; 
}
.profile-text p{
  color: black;
  font-size: 17px;
  margin-bottom: 20px;
}
.profile-text{
  color: black;
  font-size: 18px;
  margin-right: 10px;
}

 /*---------------------------About---------------------------*/
.about-area{
  padding-top: 130px;
  background-color: rgb(275,212,223);
}
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:50px;
}
.about-content {
  flex-basis: 90%;
  display: flex; 
  justify-content: center; /* Center horizontally */
  align-items: center; 
}
.about-content h4{
  color: lightcoral;
  font-size: 40px;
  line-height: 70px;
}

.about-content ul li {
  list-style-type: disc;
  margin-bottom: 10px;
}


/*---------------------------Button---------------------------*/
.btn-group{
  margin: 40px 0;
}

.btn.active{
  border-color: lightcoral;
}
.learn-more-button {
  padding: 5px 10px;
  background-color: pink;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 3px;
  transition:  0.3s; 
}

.learn-more-button:hover {
  background-color: rgb(275,212,223);
  transform: scale(1.2);
}


/*---------------------------Education & Experience ---------------------------*/
.education-content .row{
  display: flex;
  border-radius: 5px;
  height: 700px;
  margin-bottom: 350px;
  margin-right: 6px;
}

.education-content .title{
  background-color: rgb(275,212,223);
}
.education-content .row .education, .education-content .row .experience
{
  flex:0 0 50%;
  max-width: 50%;
  margin-top: 15px;
} 
.education-content  h3.title{
  font-size: 19px;
  margin-bottom: 10px;
  font-weight: 600;
}

.education-content .row.timeline-box{
  flex:0 0 100%;
  max-width: 100%;  
  background-color: pink;
}
.education-content .row .timeline{
  padding: 20px 10px;
  background-color: pink;
  border-radius: 10px;
  width: 100%;
  position: relative;
}
.education-content .row .timeline-item{
  position:relative;
  padding-left: 30px;
  padding-bottom: 30px; 
  background-color: pink;
}
.education-content .row  .experience .timeline-item{
  position:relative;
  padding-left: 37px;
  padding-bottom: 30px; 
  background-color: pink;
}
.education-content .row .timeline-item:last-child{
  padding-bottom: 0;
  background-color: pink;
}
.education-content .row .timeline-item::before{
  content: "";
  width: 2px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: #fff;  
}
/*Timeline circles*/
.education-content .row .circle-dot{
  position: absolute;
  left: 0;
  top: 0;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #fff;
  background-color: #fff;
}
.education-content .row .timeline-title  {
  background-color: pink;
  font-size: 17px;
  margin-bottom: 10px;
}
.education-content .row .experience .timeline-title h4  {
  font-size: 19px;
  margin-bottom: 8px;
  
}
.education-content .row .timeline-text{
  line-height: 1.6em;
  font-size: 17px;
  background-color: pink;
}

/*---------------------------Projects---------------------------*/
.project-content{
  padding: 90px 0;

}
.project-title{
  margin-bottom: 60px;
  text-align: center;
  
}
.project-title h4{
  font-size: 60px;
  line-height: 40px;
  font-style: italic;
  font-family:'Brush Script MT';
  margin-bottom: 20px;
  font-weight: 1300;
}
.project-title p{
  color: black;
}
.projects{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.project{
    color: black;
    border-radius: 10px;
    width: 100%;
    position: relative;
    padding: 25px;
    text-align: center;
    flex-basis: 32%;
    transition: .3s;
    background-color: pink;
}

.project h4{
  font-size: 26px;
  text-transform: capitalize;
  margin: 20px 0;
  background-color: pink;
  
}
.project p{
  background-color: pink;
}

.project:hover{
  transform: scale(1.1);
}

/*---------------------------Footer---------------------------*/
.footer {
    max-width: 950px;
    margin: 0 auto;
    padding: 15px 0 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }
.social a i {
    font-size: 38px;
    transition: 0.3s; 
    padding: 2px;
}

.social a i:hover {
  transform: scale(1.2);
  }
 
/*------------------- Responsive Design on small screen -------------------*/
@media only screen and (min-width:1000px) and (max-width:1200px){
  .container{
    width: 970px;
  }
}

@media(max-width:1050px){
  .FirstElement{ 
    flex-direction: column;
    padding-top: 2rem;
  }
  .profile-text{
    padding: 40px 0px;
  }
}

/* tablet layout */
@media only screen and (min-width:768px) and (max-width:999px){
  .container{
    width: 750px;
  } 
}  


/* Mobile Layout */
@media only screen and (max-width:767px){
  .container{
    width: 350px;
  }

  .header .menu_icon {
    display: block;
  }
  .header ul{
    display: none;
  }
  .header i{
    color: black;
  }

  .profile-text{
    width: 350px;
  }

  .about{
    flex-direction: column;
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .about-skills{
    width: 100%;
    margin-top: 30px;
  }
  .education-content .row {
    flex-direction: column;
    height: auto;
    margin-bottom: 50px;
  }

  .education-content .row .education, .education-content .row .experience {
    flex-basis: 100%;
    max-width: 100%;
    margin-top: 30px;
  }
  .project{
    flex-basis: 100%;
    margin-bottom: 30px;
  }

}

